<h1>Sobre</h1>
<pre>
    Me chamo André Luiz Ribeiro Brenner .'. ,tenho 23 anos, sou apaixonado por programação,amo aprender, 
diariamente estou buscando evoluir como profissional
e pessoa.

Tenho conhecimento em:
    Html;
    Css;
    Js;
    PHP;
    Bootstrap;
    
    Hoje sou estagiário da empresa IDAB e utilizo cada uma dessas ferramentas para desenvolver e evoluir 
o sistema interno utilizado na empresa, que esta em funcionamento e possui usuarios atulizando diariamente.

    Referente a outras questões eu sou amante de filosofia, 
tenho o costume de ler diariamente, principalmente Nietzsche,gosto de assistir series admirar a natureza.

Justo e Perfeito.





</pre>